[submodule "unwebsockify"]
	path = charts/unwebsockify
	url = https://github.com/maltejk/unwebsockify-helm.git
[submodule "websockify"]
	path = charts/websockify
	url = https://github.com/maltejk/websockify-helm.git
